{% extends 'base.html.twig' %}

{% block title %}
    Consulter l'évènement
{% endblock %}

{% block body %}
    <main class="container">
        <article class="p-3">

            <div class="d-flex justify-content-center gap-5 my-5 text-center">
                <h1 class="fs-1">{{ event.name|title }}</h1>
                <div>
                    <div class="fw-bold">
                        <span>Du {{ event.startDate|date("d/m/y") }}</span>
                        <span> à </span>
                        <span>{{ event.startDate|date('H:i') }}</span>
                    </div>
                    <div>
                        <span> au </span>
                        <span>{{ event.endDate|date("d/m/y") }}</span>
                        <span> à </span>
                        <span>{{ event.endDate|date('H:i') }}</span>
                    </div>
                </div>

                <form action="/event/new/participant/{{ user.id }}" class="d-lg-none d-lg-none">
                    <button class="btn btn-lg fw-bold fs-4 btn-success rounded-pill">Je participe !</button>
                </form>
            </div>

            <div class="row row-cols-lg-2">
                <div class="position-relative d-inline-block rounded-3 overflow-hidden">
                    <img src="{{ event.fileName }}" alt="Image de {{ event.name }}" class="img-fluid">
                    <button class="bg-primary border border-0 px-4 py-3 text-light fw-bold rounded-pill position-absolute top-0 start-0 ms-4 mt-4">
                        {{ event.tag|title }}
                    </button>
                    <div class="text-light position-absolute top-0 end-0 me-4 mt-4 fw-bold">
                        <span>Plus que </span>
                        <span class="fs-2 fw-bolder bg-warning px-3 py-2 rounded-pill">{{ remainingCapacity }}</span>
                        <span>/</span>
                        <span>{{ event.capacity }}</span>
                        <span> places restantes !!! </span>
                    </div>
                    <div class="position-absolute bottom-0 start-0 ms-4 mb-4 text-dark bg-light rounded-pill py-3 px-5">
                        <span class="fs-3 fw-bolder">Le {{ event.startDate|date("d/m/y") }}</span>
                    </div>
                </div>
                <div class="row">
                    <p class="col-10 offset-1 align-self-center my-5 my-lg-0">{{ event.description }}</p>
                    <div class="col-10 offset-1 d-none d-lg-block">
                        <a href="/event/new/participant/{{ event.id }}" class="btn btn-lg fw-bold fs-4 btn-success rounded-pill">Je participe !</a>
                    </div>
                </div>
            </div>
        </article>
    </main>

{% endblock %}