{% extends 'base.html.twig' %}

{% block title %}
    Liste des évènemenents
{% endblock %}

{% block body %}
    <main class="container-fluid">

        {{ include('admin/shared/_admin-header.html.twig') }}

        {% set entity = {
            user: 'utilisateur',
            event: 'évenement'
        } %}

        {% for key, entityValue in entity %}
            {% if key is same as entityName %}

                <div class="d-flex justify-content-between align-items-center mx-lg-5">
                    <div class="">
                        <h2>
                            Les {{ entityValue|title }}s
                        </h2>
                    </div>

                    {% if entityName is not same as 'user' or currentUser is same as 'admin' %}
                        <div>
                            <a class="btn btn-primary rounded-pill my-3" href="/{{ entityName }}/new">Ajouter
                                un {{ entityValue }}</a>
                        </div>
                    {% endif %}

                </div>

                {{ include('admin/shared/_data-table.html.twig', {
                    items: items,
                    entityName: entityName
                }) }}

            {% endif %}

        {% endfor %}


    </main>

{% endblock %}