{% if type is not same as 'checkbox' %}


    <div class="input-group mb-3 align-items-center {{ class is same as 'form-check-input' ? 'form-check form-switch' : '' }}">
        {% if type != 'file' %}
            <span class="input-group-text" id="{{ name }}-addon">
                {{ label|title }}
            </span>
        {% else %}
            <span class="pe-3" id="{{ name }}-addon">
                {{ label|title }}
            </span>
        {% endif %}

        <input
            type="{{ type }}"
            name="{{ name }}"
            {% if required %}
                required="{{ required }}"
            {% endif %}
            placeholder="{{ placeholder }}"
            {% if accept %}
                accept="{{ accept }}"
            {% endif %}
            class="form-control {{ type is same as 'datetime-local' or type is same as 'number' or type is same as 'email' or type is same as 'password' ? '' : '' }} {{ class }}"
            aria-label="{{ name }}"
            aria-describedby="{{ name }}-addon"
            value="{{ value|default('') }}"
        >
    </div>

{% endif %}


{% if type is same as 'checkbox' %}
    <div class="form-check form-switch">
        <label class="form-check-label" for="{{ name }}">{{ label }}</label>
        <input class="form-check-input {{ class }}" type="checkbox" role="switch" id="{{ name }}"
            {% if value == 1 %}
                checked = {{ value }}
            {% endif %}
        name="{{ name }}">
    </div>
{% endif %}




