<div class="input-group mb-3 h-100">
    <span
            class="input-group-text"
    >
        {{ label|title }}
    </span>

    <textarea
            name="{{ name }}"
            required="{{ required }}"
            placeholder="{{ placeholder }}"
            class="form-control align-self-stretch"
            aria-label="{{ name }}"
    ></textarea>
</div>
