{% set names = [] %}
<table class="table">
    <thead>
    <tr>
        {% for item in items %}
            {% for name, value in item %}
                {% if name is not same as 'owner_id' %}
                    {% if name not in names %}
                        <th>{{ name }}</th>
                        {% set names = names|merge([name]) %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tr>
    </thead>

    <tbody>
    {% for item in items %}
        <tr>
            {% for name, value in item %}
                {% if name is not same as 'owner_id' %}
                    <td>

                        {% if value is same as true %}
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" checked="{{ value }}"
                                       disabled>
                            </div>
                        {% elseif value is not iterable %}
                            <div>{{ value }}</div>
                        {% endif %}

                    </td>
                {% endif %}
            {% endfor %}
            <td>
                <form action="/admin/{{ entityName }}/delete" method="POST" enctype="multipart/form-data">
                    <input type="number" value="{{ item.id }}" name="delete-{{ entityName }}-input" class="d-none">
                    <button class="btn btn-danger rounded-pill" type="submit" name="delete-{{ entityName }}-submit"
                            value="delete-{{ entityName }}">
                        Supprimer
                    </button>
                </form>
            </td>
            <td>
                <form action="/admin/{{ entityName }}/edit" method="POST" enctype="multipart/form-data">
                    <input type="number" value="{{ item.id }}" name="edit-{{ entityName }}-input" class="d-none">
                    <button class="btn btn-warning rounded-pill" type="submit" name="edit-{{ entityName }}-submit"
                            value="edit-{{ entityName }}">
                        Modifier
                    </button>
                </form>
            </td>
        </tr>
    {% else %}
        Aucun {{ entityName }}
    {% endfor %}

    </tbody>
</table>
